<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Job Roberts</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
        <section>
            <article>
                <figure><img src="images/bear.jpg" alt="woman with bear"/></figure>
                <h2>FamilyPlanning</h2>
                <h6> Serertas erta mioras deloreas fertas etase</h6>
                <p>
                    nertaskeras erterserat sety kertya
                    aset aplicabo Colense qeramagni dolores. Ceades aertayse badrays.
                    Nealeo quratione votesciut, neque porro quisquam oloest dolose
                    rem ipsum moireasa.
                </p>
                <button>
                <a href="#" class="btn">Read more</a>
                    </button>
            </article>

            <article>
                <figure><img src="images/women.jpg" alt="two women"/></figure>
                <h2>FamilyPlanning</h2>
                <h6> Serertas erta mioras deloreas fertas etase</h6>
                <p>
                    nertaskeras erterserat sety kertya
                    aset aplicabo Colense qeramagni dolores. Ceades aertayse badrays.
                    Nealeo quratione votesciut, neque porro quisquam oloest dolose
                    rem ipsum moireasa.
                </p>
                <button>
                    <a href="#" class="btn">Read more</a>
                </button>
            </article>

            <article>
                <figure><img src="images/woman.jpg" alt="woman"/></figure>
                <h2>FamilyPlanning</h2>
                <h6> Serertas erta mioras deloreas fertas etase</h6>
                <p>
                    nertaskeras erterserat sety kertya
                    aset aplicabo Colense qeramagni dolores. Ceades aertayse badrays.
                    Nealeo quratione votesciut, neque porro quisquam oloest dolose
                    rem ipsum moireasa.
                </p>
                <button>
                    <a href="#" class="btn">Read more</a>
                </button>
            </article>
        </section>
	

	<!-- End Component -->
	
</body>
</html>