/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */
 html {
     font-size: 62.5%;
 }
body {
    font: 400 1.6em/1.4 sans-serif;
    background: #f5f5f5;
    color: #888888;
}

h2 {
    font-size: 60px;
    line-height: 1.16666667;
    color: #a7c95a;
    font-weight: 100;
}

h2::after {
    font-size: 60px;
    line-height: 1.16666667;
    color: #a7c95a;
    font-weight: 100;
}

h3 {
    font-size: 2rem;
    color: #555555;
    margin-top: 1rem;
}

section {
    width: 1789px;
    margin: 0 auto;
    border: solid 1px #f9fff9;
    text-align: center;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

article {
    width: calc(25% - 2rem);
    padding: 2rem;
    float: left;
    background: #ffffff;
    margin: 0 1rem;

}

 button {
     position: relative;
     display: inline-block;
     overflow: hidden;
     float: left;
     margin: 0 1em 1em 0;
     padding: 0 4em;
     height: 3.5em;
     font: 300 1em/3.5em 'Open Sans', sans-serif;
     text-decoration: none;
     shadow: 0 1px 3px rgba(black, .35);

 letter-spacing: .08em;
 color: #fff;
 background: #A7C95A;
 border: solid 1px #fff;
 border-radius: 2px;
 @include transition(.35s ease all);

}

 a {
     color: #ffffff;
 }


 p {
     color: #5f5f5f;
     font-weight: 400;
     font-family: 'open sans' , Sans-Serif;
     line-height: 1.4;
     margin: 0;

 }