<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Job Roberts</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
     <section>
         <h2>NEWS LETTER SIGN UP</h2>
         <p>Bertinsare magna onumsan erahases amaltaliso tumeas ursus elserase elites leruytas kesuytas mioasa kyteasa.</p>
         <form method="post" role="form"><p><label>Email address:</label>
         <input type="email" id="email" name="EMAIL" PLACEHOLDER="enter your email" required=""></p>
             <button type="submit" value="Subscribe"></button>

         </form>
     </section>
	

	<!-- End Component -->
	
</body>
</html>