/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */


#cta {
    display: block;
    margin-top: 2.5rem;
}

.btn {
    padding: 8px 17px;
    border-color: transparent;
    background: #50d170;
    display: inline-block;
    border-radius: 5px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 22px;
    float: right;
    margin-right: 274px;
}
img {
    width: 15rem;
    float: left;
    margin-left: 93px;
    margin-top: 44px;
}


h3 {
    text-align: center;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    color: #333333;
    margin-right: -87px;
}

.text-1 {
    margin-top: 16px;
    font-size: 20px;
    line-height: 29px;
    color: #1cd0a8;
}

p {
    font: 400 15px/25px 'PT Sans', sans-serif;
    color: #777777;
    padding-left: 2em;
    margin-top: 16px;
    margin-left: 345px;
    text-align: center;
}

h5 {
    font-weight: 600;
    margin-top: 3rem;
    color: #222222;
    padding-bottom: 2.5em;
}


section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5em 0 3em 0;
}



