<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Job Roberts</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <footer>
        <img src="images/src.jpg" alt="Site Logo">
        <p>&copy; year All Rights Reserved | <a href="#">Privacy Policy</a></p>
        <ul>
            <li><a href="#" alt="Facebook Link"><img src="images/src.jpg" alt="Site Link" /></a></li>
            <li><a href="#" alt="Google Plus Link"><img src="images/src.jpg" alt="Site Link" /></a></li>
            <li><a href="#" alt="Twitter Link"><img src="images/src.jpg" alt="Site Link" /></a></li>
            <li><a href="#" alt="Pinterest Link"><img src="images/src.jpg" alt="Site Link" /></a></li>
            <li><a href="#" alt="Linkedin Link"><img src="images/src.jpg" alt="Site Link" /></a></li>
            <li><a href="#" alt="Instagram Link"><img src="images/src.jpg" alt="Site Link" /></a></li>
        </ul>
    </footer>
	

	<!-- End Component -->
	
</body>
</html>