<!DOCTYPE html>
<html>
<head>
    <title>WSP Component: Job Roberts</title>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="component.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome.css"/>
    <link rel="stylesheet" type="text/css/" href="../../css/font-awesome.min.css">
</head>
<body>

<!-- Component -->
<header>

    <h1>Construction</h1>

        <h2>Materials </h2>

            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a><li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </nav>


</header>


<!-- End Component -->

</body>
</html>