<!DOCTYPE html>
<html>
<head>
    <title>WSP Component: Job Roberts</title>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

<!-- Component -->
<header>

        <figure>
           <img src="" alt="Logo">
        </figure>

            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Apartment</a><li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>


</header>


<!-- End Component -->

</body>
</html>