<!DOCTYPE html>
<html>
<head>
    <title>WSP Component: Job Roberts</title>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css" />
    <link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

<!-- Component -->
<header>

        <figure>
           <img src="" alt="Logo">
        </figure>

            <nav>
                <ul>
                    <li>Home</li>
                    <ul class="sub-menu">
                        <li><a href="#">History</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                    <li>Apartment<li>
                    <li>Services</li>
                    <li>Blog</li>
                    <li>Contact</li>
                </ul>
            </nav>


</header>


<!-- End Component -->

</body>
</html>