header, section, footer  {
    max-width: 960px;
    height: 300px;
    margin: 0 auto;
    border: solid #000000 1px;

}

iframe {
    width: 50%;
    height: 290px;
    float: right;
    background: #ffffff;
    padding: 20px;

}

ul {
    text-align: center;

}

li {
    display: inline-block;
}

a {
    display: block;
    width: 30px;
    height: 30px;
    border: solid 1px #ccc;
    border-radius: 50%;
    text-indent: -9999px;
}

.twitter {
    background: url("images/twitter.png")no-repeat center;
}

.facebook {
    background: url("images/facebook.png")no-repeat center;
}

.google-plus {
    background: url("images/google-plus.png")no-repeat center;
}

.rss {
    background: url("images/rss.png")no-repeat center;
}

.pinterest {
    background: url("images/pinterest.png")no-repeat center;
}


address {
    display: inline-block;
    margin-top: 52px;
    margin-left: 100px;
    font: 400 16px/26px "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #040404;

}

p {
    display: inline-block;
    text-decoration: none;
    font: 400 30px/35px "Open Sans", sans-serif;
    margin-top: 38px;
    text-align: center;
    vertical-align: top;
    margin-left: 128px;

}

.copy-right {
    color: #444954;
    position: relative;
    margin-top: 88px;
    font: 400 16px/26px "Open Sans", sans-serif;
    text-transform: uppercase;
    margin-left: -196px;
}

.privacy {
    color: #444954;
    position: relative;
    margin-top: 88px;
    font: 400 16px/26px "Open Sans", sans-serif;
    text-transform: uppercase;
    margin-left: 26px;

}