header, section, footer  {
    max-width: 960px;
    margin: 0 auto;
    border: solid 1px red;
}

iframe {
    width: 50%;
    float: right;
    background: #cccccc;

}

ul {
    text-align: center;

}

li {
    display: inline-block;
}

a {
    display: block;
    width: 30px;
    height: 30px;
    border: solid 1px #ccc;
    border-radius: 50%;
    text-indent: -9999px;
}

.twitter {
    background: url("images/twitter.png")no-repeat center;
}

.facebook {
    background: url("images/facebook.png")no-repeat center;
}

.google-plus {
    background: url("images/google-plus.png")no-repeat center;
}

.rss {
    background: url("images/rss.png")no-repeat center;
}

.pinterest {
    background: url("images/pinterest.png")no-repeat center;
}