<!DOCTYPE html>
<html>
<head>
    <title>WSP Component: Job Roberts</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
      <section>
          <h1>LAST ADDED</h1>


          <ul>
              <li>
                  <figure><img src="images/bed.jpg" alt="Bed"></figure>
              </li>

              <li>
                  <figure><img src="images/chairs.jpg" alt="Bed"></figure>
              </li>

              <li>
                  <figure><img src="images/red-couch.jpg" alt="Bed"></figure>
              </li>

              <li>
                  <figure><img src="images/table.jpg" alt="Bed"></figure>
              </li>

              <li>
                  <figure><img src="images/white-chair.jpg" alt="Bed"></figure>
              </li>

              <li>
                  <figure><img src="images/sink.jpg" alt="Bed"></figure>
              </li>




          </ul>
          <a href="#" title="view all apartments" class="btn" target="_self">View all apartments</a>
      </section>
	

	<!-- End Component -->
	
</body>
</html>