<!DOCTYPE html>
<html>
<head>
    <title>WSP Component: Job Roberts</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome.css"/>
    <link rel="stylesheet" type="text/css/" href="../../css/font-awesome.min.css">

</head>
<body>

	<!-- Component -->
    <footer>
        <div class="wrapper">
        <section>
                   <article>
                    <ul>
                        <li>
                            <a class="fa fa-twitter " href="#"></a>
                        </li>
                        <li>
                            <a class="fa fa-facebook" href="#"></a>
                        </li>
                        <li>
                            <a class="fa fa-google-plus" href="#"></a>
                        </li>
                        <li>
                            <a class="fa fa-rss" href="#"></a>
                        </li>
                        <li>
                            <a class="fa fa-pinterest" href="#"></a>
                        </li>
                    </ul>
                   </article>

                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.6831116532603!2d-87.62896339999999!3d41.8781639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cbcd7314ca7%3A0x8cdfc8c04e72c1d3!2s28+W+Jackson+Blvd+%231020%2C+Chicago%2C+IL+60604!5e0!3m2!1sen!2sus!4v1441671252362" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

                    <address>28 Jackson Blvd Ste 1020 Chicago<br>
                        IL 60604-2340


                    (234) 567-9842
                    </address>
                   <hr>
        </section>
        </div>
    </footer>

    <footer>
        <p>Copyright &copy; 2015 | <a href="">Privacy Policy</a> </p>
    </footer>

	<!-- End Component -->
	
</body>
</html>