<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Job Roberts</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

    <!DOCTYPE html>
    <html>
    <head>
        <title>WSP Component: Job Roberts</title>
        <link rel="stylesheet" type="text/css" href="../../css/reset.css" />
        <link rel="stylesheet" type="text/css" href="component.css" />
    </head>
    <body>

    <!-- Component -->
    <section>
        <article>
            <h1>CREATE</h1>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua."</p>
            <button class="button" value="More">More</button>
        </article>

        <article>
            <h1>SUPPORT</h1>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua."</p>
            <button class="button" value="More">More</button>
        </article>

        <article>
            <h1>INVEST</h1>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua."</p>
            <button class="button" value="More">More</button>
        </article>

        <article>
            <h1>RESEARCH</h1>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua."</p>
            <button class="button" value="More">More</button>
        </article>
    </section>


    <!-- End Component -->

    </body>
    </html>

	<!-- End Component -->
	
</body>
</html>