<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Job Roberts</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<section>
    <h2 class="tc">Our Advantages</h2>

    <h4 class="tc">masyuas diverase olore sitase miugasa deluytas</h4>
<div class="row">
    <article>
        <img src="images/man.jpg" alt="Nertyase riti masertas">
        <p>
            Datse nerafae kertyerauas vitaesa ertyatya nemodiras nuasye eniptaiades. Volernatur sitaut. onsequ ntur magni dolores eatione voluptate Equiesciunt, eque porro quisquam.
        </p>
        <a class="btn" href="#">more</a>
    </article>


    <article>
        <img src="images/girl.jpg" alt="Nertyase riti masertas">
        <p>
            Datse nerafae kertyerauas vitaesa ertyatya nemodiras nuasye eniptaiades. Volernatur sitaut. onsequ ntur magni dolores eatione voluptate Equiesciunt, eque porro quisquam.
        </p>
        <a class="btn" href="#">more</a>
    </article>


    <article>
        <img src="images/couple.jpg" alt="Nertyase riti masertas">
        <p>
            Datse nerafae kertyerauas vitaesa ertyatya nemodiras nuasye eniptaiades. Volernatur sitaut. onsequ ntur magni dolores eatione voluptate Equiesciunt, eque porro quisquam.
        </p>
        <a class="btn" href="#">more</a>
    </article>

    </div>











</section>

	<!-- End Component -->
	
</body>
</html>