<!DOCTYPE html>
<html>
<head>
    <title>WSP Component: Job Roberts</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
    <section id="gallery">

        <article>
        <h5>mieruyaser<br>
            bertyuase veiuredea</h5>
                <img src="images/window.jpg" alt="Nertyase riti masertas">
                <p>
                    Datse nerafae kertyerauas vitaesa ertyatya nemodiras nuasye eniptaiades. Volernatur sitaut. onsequ ntur magni dolores eatione voluptate Equiesciunt, eque porro quisquam.
                </p>
                <a href="#" class="btn btn1">read more</a>
            </article>



        <article>
            <h5>mieruyaser<br>
                bertyuase veiuredea</h5>
                <img src="images/window.jpg" alt="Nertyase riti masertas">
                <p>
                    Datse nerafae kertyerauas vitaesa ertyatya nemodiras nuasye eniptaiades. Volernatur sitaut. onsequ ntur magni dolores eatione voluptate Equiesciunt, eque porro quisquam.
                </p>
                <a href="#" class="btn btn1">read more</a>
            </article>



        <article>
            <h5>mieruyaser<br>
                bertyuase veiuredea</h5>
            
                <img src="images/window.jpg" alt="Nertyase riti masertas">
                <p>
                    Datse nerafae kertyerauas vitaesa ertyatya nemodiras nuasye eniptaiades. Volernatur sitaut. onsequ ntur magni dolores eatione voluptate Equiesciunt, eque porro quisquam.
                </p>
                <a href="#" class="btn btn1">read more</a>
            </article>


    </section>

	<!-- End Component -->
	
</body>
</html>