/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

html {
    font-size: 62.5%;
}
 body {
     font:1.4em/1.4 Helvetica, sans-serif;
     color: #555555;
 }

 section {
     max-width: 1000px;
     margin: 0 auto;
     padding: 5rem 0 3rem 0;
 }

 article {
     width: calc(25% - 20px);
     margin: 0 1.5rem;
     float: left;
     align-content: inherit;
 }

 img {
     width: 70%;
 }

 #news article {
     display: block;
     margin-top: 2.5rem;
     padding: 1rem 1rem 1rem 4.5rem;
 }