<!DOCTYPE html>
<html>
<head>
    <title>WSP Component: Job Roberts</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

        <h2 class="center-heading">Latest News</h2>
        <p class="subtitle center">Selenit augue duis dolore </p>



                    <img src="" alt="">

                        <h5>Eodem modo typ</h5>
                        <p>Eos et accumsan et iusto odio dignissim qui blandit praesent</p>
                        <time datetime="2015-09-21 03:42">21 / 09 / 2015</time>


                    <img src="" alt="">

                        <h5>Claritas est etiam pr</h5>
                        <p>Secumsan et iusto odio dignissim qui blandit praesent</p>
                        <time datetime="2015-09-29 03:42">29 / 09 / 2015</time>


                <a href="#" class="btn">See all news</a>


	

	<!-- End Component -->
	
</body>
</html>