<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Job Roberts</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

    <section>
        <h2>CONTACT US</h2>
        <form method="post" role="form"><p><label>Name</label>
            <input type="" id="name" name="NAME" PLACEHOLDER="Name" required=""></p>
            <button type="submit" value="Subscribe"></button>

        </form>
    </section>

	<!-- End Component -->
	
</body>
</html>