<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Job Roberts</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

    <section>
        <h2>CONTACT US</h2>

            <form>


                <fieldset>
                    <label>Name</label><input type="text" />
                    <label>E-mail: </label><input type="text" />
                </fieldset>

                <fieldset>
                    <label>Phone</label><input type="text" />
                    <label>Organization</label><input type="text" />

                </fieldset>

                <fieldset>
                    <label>Message</label><textarea></textarea>
                </fieldset>

                <fieldset>
                    <input type="submit" value="Send" />
                    <input type="reset" value="Clear" />
                </fieldset>

            </form>
        </section>



	<!-- End Component -->
	
</body>
</html>
