<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Job Roberts</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

          <section>
              <h2>Meet the Team</h2>
              <p> Seutem vel eum iriure</p>

              <figure><img src="images/" alt="Bed"></figure>

          </section>


    <section>
        <h2>Meet the Team</h2>
        <p> Seutem vel eum iriure</p>

            <figure><img src="images/Eva%20Adamson.jpg" alt="Bed"></figure>
            <h3>Eva Adamson</h3>
            <p>Seutem vel eum iriure</p>

            <img src="images/David%20Austin.jpg" alt="smiling-man">
            <h3>Eva Adamson</h3>
            <p>Seutem vel eum iriure</p>

            <img src="images/Natalie%20Barnes.jpg" alt="smiling-girl-2">
            <h3>Eva Adamson</h3>
            <p>Seutem vel eum iriure</p>

            <img src="images/Thomas%20Bishop.jpg" alt="smiling-man-2">
            <h3>Eva Adamson</h3>
            <p>Seutem vel eum iriure</p>


    </section>


	<!-- End Component -->
	
</body>
</html>