<!DOCTYPE html>
<html>
<head>
    <title>WSP Component: Job Roberts</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
         <section>
             <article>
             <figure><img src="images/flag_icon.png" alt="flag"/></figure>
             <a href="#">FERMENTUM ID SED EROS QUISQUE MALES UADA</a>
             <p>Nam eu tortor a purus commodo fermentum id sed eros. Quisque malesuada
                 Uultrices lorem, blandit cursus sapien rutrum ut. Sed venenatis nulla vel nisl porttitor maximus. Cum sociis natoque pen</p>
             </article>
             <article>
             <figure><img src="images/group_icon.png" alt="people"/></figure>
             <a href="#">UADA ULTRICES LOREM BLA NDIT CURSUS SAPIEN</a>
             <p>Quisque malesuada. Uultrices lorem, blandit cursus sapien rutrum ut. Sed venen
                 Quisque malesuada. Uultrices lorem, blandit cursus sapien rutrum ut. Sed venen</p>
             </article>

             <article>
             <figure><img src="images/house_icon.png" alt="house"/></figure>
             <a href="#">ULTRICES LOREM BLANDIT CURSUS SAPIEN RUTRU</a>
             <p>Sed venenatis nulla vel nisl porttitor maximus. Cum sociis natoque penatibus et
                 Magnis dis parturient montes, nascetur ridi culus mus. Quisque mauris urna, hendrerit egestas felis ac, congue ornare</p>
             </article>

             <article>
             <figure><img src="images/truck_icon.png" alt="truck"/></figure>
             <a href="#">RUTRUM UT SED VENENAT IS NULLA VEL NISL</a>
             <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque mauris urna, hendre</p>
             </article>
         </section>
	

	<!-- End Component -->
	
</body>
</html>